<section class="bg-gray-100">
    <div class="container mx-auto py-8">
      
      <form (submit)="onRegister()" class="w-full max-w-sm mx-auto bg-white p-8 rounded-md shadow-md">
        <h2 class="text-2xl font-bold mb-6">Create an Account</h2>
        
        <!-- User Name -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">User Name</label>
          <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
            type="text" id="name" name="name" placeholder="MusicMaker02" minlength="3" maxlength="20" pattern="[a-zA-Z0-9]+" required="required" [(ngModel)]="registerData.username">
            <small class="text-xs text-gray-500">Username must be between 3 and 20 characters and can only contain letters and numbers.</small>
        </div>

        <!-- Email -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
          <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
            type="email" id="email" name="email" placeholder="music.maker02@example.com" required="required" [(ngModel)]="registerData.email">
        </div>

        <!-- Password -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
          <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
            type="password" id="password" name="password" placeholder="********" required="required" [(ngModel)]="registerData.password">
        </div>

        <!-- Confirm Password -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm-password">Confirm Password</label>
          <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
            type="password" id="confirm-password" name="confirm-password" placeholder="********" required>
        </div>

        <!-- Google reCAPTCHA -->
        <div class="mb-4">
          <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY_HERE"></div>
        </div>

        <!-- Register Button -->
        <button
          class="w-full bg-indigo-500 text-white text-sm font-bold py-2 px-4 rounded-md hover:bg-indigo-600 transition duration-300 rounded"
          type="submit"
          >Register</button>

        <!-- Already have an account link -->
        <div class="mt-4 text-center">
          <p class="text-sm text-gray-500">
            Already have an account? 
            <a href="/login" class="text-indigo-500 hover:underline">Login here</a>
          </p>
        </div>
      </form>
      <p class="success" *ngIf="successMessage">{{successMessage}}</p>
      <p class="success" *ngIf="errorMessage">{{errorMessage}}</p>
    </div>
</section>

<!-- Google reCAPTCHA script -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
