// .no-underline{
//     text-decoration: none;
// }
a{
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease-out;

    &:hover{
        letter-spacing: .04rem;
        transition: .3s ease;
        color: oklch(0.511 0.262 276.966) !important;
    }
}


