<link href="https://fonts.googleapis.com/css?family=Schoolbell&v1" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">



<div class="kep flex justify-center items-center h-screen bg-indigo-50 relative">
    <div class="relative w-9/10 h-4/5" style="top: -5vh;">
        <video #videoPlayer class="shadow-x1 dark:shadow-gray-800 w-full h-full object-cover rounded-3xl" autoplay loop muted playsinline preload="auto">
            <source src="assets/home-video.mp4" type="video/mp4"> 
        </video>
        <p class="firstText changing absolute left-0 text-3xl top-1/2 transform -translate-y-1/2 m-4 text-gray-400">
            Looking for
        </p>
        
        <p class=" changing font-bold absolute left-0 top-[calc(50%+1rem)] m-4 text-white">
            <span class="secondText text-6xl">{{ displayedText }}</span>
            <span class="secondText text-xl text-gray-400"> for</span>
            <span class="thirdText italic text-8xl block">your Beats?</span>
        </p>
        
        
    </div>
</div>
