@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

html, body {
  overflow: hidden;
  height: 100%;
}

* {
  transition: all 0.3s ease;
}

video {
  filter: brightness(0.8);
}