#text-to-toggle
{
  color: #0087DB;
  
}

.changing{
  position: absolute;
//   margin: 0 auto;
//   left: calc(50% - 150px);
//   top: 30px;
  width: auto;
  padding: 10px;
//   font-family: 'Advent Pro', sans-serif;
//   text-align: center;
}

.firstText{
    font-family: 'Brush Script MT', cursive;
}

.secondText{
    font-family: 'Courier New', monospace;
}

.thirdText{
    font-family: Garamond, serif;
}