<div class="container">
  <!-- Login Form -->
  <div class="login-container" id="login-container">
    <div class="alert alert-danger" id="error-message" role="alert">
      Invalid username or password!
    </div>
    <div class="login-form">
      <h2>Login</h2>
      <form id="login-form">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="apiLoginObj.EmailId" placeholder="Enter your username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="apiLoginObj.password" placeholder="Enter your password" name="password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="remember-me">
          <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-custom" (click)="onLogin()">Login</button>
        <div class="mt-3 text-center">
          <a href="#" id="forgot-password-link">Forgot password?</a> |
          <a href="#" id="register-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>