.profile-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.profile-coptainer h2 {
    text-align: center;
}

.profile-container button{
    margin-top: 20px;
}