/* src/styles.scss */

/* 1. Tailwind - Próbáljuk meg legelölre tenni! */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 2. Bootstrap */
@import 'bootstrap/scss/bootstrap';